/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0 50px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    border-bottom: 2px solid #3a3a3a;
}

.navbar a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    height: 400px;
    background: linear-gradient(to bottom, #4a2208, #e85010);
    color: white;
    /* background: none; */
    height: 90vh;
}

.banner-content {
    max-width: 50%;
}

.banner-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.buttons button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
}

.banner-image img {
    max-height: 350px;
    border-radius: 8px;
    background: none;
    height: 500px;
    width: 500px;
    flex-shrink: inherit;
}

.banner-image {
    display: flex;
    align-items: end;
    justify-content: end;
    flex: 1;
    background: none;
    
}
